// ### Primary

$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// ### Neutral

$veryDark: hsl(217, 54%, 11%);
$veryDarkBlue: hsl(216, 50%, 16%);
$veryDarkblue: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// fontWeights

$fontWeights:("light": 300,
    "regular": 400,
    "bold": 700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $veryDark;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-weight: 400, ;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;

    .NFT {
        width: 280px;
        height: 280px;
        display: inline-block;
        margin: 10px 0;
        position: relative;

        .equilibrium {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        .active-state {
            position: absolute;
            width: 100%;
            height: 100%;
            background: hsla(178, 100%, 50%, 30%);
            top: 0;
            border-radius: 10px;
            display: none;
        }

        .view {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }

    }
}

.content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        color: $white;
        padding-top: 10px;
    }

    h3:hover {
        color: $cyan;
        cursor: pointer;
    }

    .equ {
        color: $softBlue;
        padding-top: 15px;
        line-height: 1.5em;
    }
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .ETH {
        color: $cyan;
    }

    .cards {
        justify-content: center;
        align-self: center;
        display: flex;
        margin-bottom: 0px;
    }
}


.avartar img {
    border-radius: 50%;
    width: 40px;
    height: auto;
    border: 1px solid $white;
}

@media screen and (min-width: 375px) {
    .container {
        width: 300px;
        height: 520px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid transparent;
        background: $veryDarkBlue;
        border-radius: 15px;
    }

}

/*      Desktop view design     */
@media screen and (min-width: 768px) {
    .container {
        width: 300px;
        height: 520px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid transparent;
        background: $veryDarkBlue;
        border-radius: 15px;
    }

}

.days {
    color: $softBlue;
    display: inline-block;
    padding-left: 10px;
}

.horizon {
    border-top: .1px solid $softBlue;
}

.creat {
    padding-right: 30px;

    .crt {
        color: $softBlue;
    }

    .avar-name {
        color: $white;
    }

    .avar-name:hover {
        color: $cyan;
        cursor: pointer;
    }
}

.footer {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.NFT:hover .active-state {
    display: block;
    opacity: 0.6;
}

.NFT:hover .view {
    display: block;
}
.NFT:hover{
    cursor: pointer;
}