* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0d192b;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30%;
}

.main .NFT {
  width: 280px;
  height: 280px;
  display: inline-block;
  margin: 20px;
  position: relative;
}

.main .NFT .equilibrium {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main .NFT .active-state {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00fff7;
  top: 0;
  border-radius: 10px;
  display: none;
}

.main .NFT .view {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

section {
  padding: 20px;
}

section .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .content .hero {
  font-size: 18px;
  color: white;
}

section .content .hero:hover {
  color: #00fff7;
  cursor: pointer;
}

section .content .equ {
  color: #8bacda;
  padding-top: 10px;
  line-height: 1.5em;
}

section .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-bottom: 0.5px solid #2f415b;
}

section .stats .ETH {
  color: #00fff7;
}

section .stats .cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .stats .cards .days {
  margin-top: -1px;
}

.avartar img {
  border-radius: 50%;
  width: 40px;
  height: auto;
  border: 1px solid white;
}

@media screen and (min-width: 200px) and (max-width: 375px) {
  .container {
    width: 320px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 1px solid transparent;
    background: #14253d;
    border-radius: 15px;
  }
}

/*      Desktop view design     */
@media screen and (min-width: 376px) {
  .container {
    width: 320px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 1px solid transparent;
    background: #14253d;
    border-radius: 15px;
  }
}

.days {
  color: #8bacda;
  display: inline-block;
  padding-left: 10px;
}

.creat {
  padding-right: 30px;
}

.creat .crt {
  color: #8bacda;
}

.creat .avar-name {
  color: white;
}

.creat .avar-name:hover {
  color: #00fff7;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.NFT:hover .active-state {
  display: block;
  opacity: 0.6;
}

.NFT:hover .view {
  display: block;
}

.NFT:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */